body {
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/

    background-image: url(../img/bg1.jpg);

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    height: 100%;

    font-family:"Arial", sans-serif;
}

.aboutLinks {
    text-align: center;
    align-items: center;
}

.link {
    padding: 30px;
}

#titleName{
    text-align: center;
}

h1 {
    font-family:"Poppins", sans-serif;
    padding-top: 50px;
    font-size: 70px;
}

h3 {
    font-family: "Poppins", sans-serif;
    color: midnightblue;
}

a {
    color: purple;
}

a:hover{
    color: rebeccapurple;
    text-decoration: none;
}

a.title {
    text-decoration: none;
    color: inherit;
}

a.title:hover{
    color:inherit;
}

.inputWrapper{
    display:flex;
    align-items: center;
    justify-content: center;
}

#titleName{
    text-shadow: 2px 2px 2px steelblue;
    color: midnightblue;
    text-align: center;
}

#uploadFileInfo {
    width: 200px;
}

.form-control{
    width: 150px;
}

.btn-custom{
    background: skyblue;
    color: midnightblue;
    font-family: Poppins;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: lightblue;
}

*:focus {
    outline: 0 !important;
}

form {
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
    padding-right:50px;
    /*display: block;*/
    /*margin: 10px;*/
}

label, input {
    display: block; /* 1. oh noes, my inputs are styled as block... */
}

/* header */
.table > thead > tr > th {
    border-bottom: 2px solid white;
}
/* rows */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid white;
}
