body {
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/

    background-image: url(../img/bg1.jpg);

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    height: 100%;

    font-family:"Arial", sans-serif;
}

/******HEADER******/
#titleName{
    text-shadow: 2px 2px 2px steelblue;
    color: midnightblue;
    text-align: center;
}

.aboutLinks {
    text-align: center;
    align-items: center;
}

.link {
    padding: 30px;
}

/******DEFAULT CHANGE******/
h1 {
    font-family:"Poppins", sans-serif;
    padding-top: 50px;
    font-size: 70px;
}

h3 {
    font-family: "Poppins", sans-serif;
    color: midnightblue;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: rebeccapurple;
}
a {
    color: purple;
}

a:hover{
    color: rebeccapurple;
    text-decoration: none;
}

a.title {
    text-decoration: none;
    color: inherit;
}

a.title:hover{
    color:inherit;
}

/******UPLOAD FORM******/
#uploadInputWrapper{
    display:flex;
    align-items: center;
    justify-content: center;
}

#uploadFileInfo {
    width: 200px;
}

/******DOWNLOAD FORM******/

/* adding to bootstrap*/
.form-control{
    width: 150px;
}

/* adding to default? */
.radio {
    font-family: "Poppins", sans-serif;
}

.filenameInputWrapper {
    margin-right: 5px;
}

.formClass {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}

.btn-custom{
    background: skyblue;
    color: midnightblue;
    font-family: Poppins;
}

/*label, input {*/
/*display: block; !* 1. oh noes, my inputs are styled as block... *!*/
/*}*/


/******TABLE******/

.table {
    width: 60%;
}

/* table border override */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: lightblue;
}

/* table border override */
*:focus {
    outline: 0 !important;
}

/* header */
.table > thead > tr > th {
    border-bottom: 2px solid white;
}
/* rows */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid white;
}

.ingredientsBorder {
    padding: 20px;
}





